# DS 503 Project 3

To get started install [Jupyter](http://jupyter.org/) and [Apache Toree](https://github.com/apache/incubator-toree).

```shell
$ pip install https://dist.apache.org/repos/dist/dev/incubator/toree/0.2.0/snapshots/dev1/toree-pip/toree-0.2.0.dev1.tar.gz
$ jupyter toree install
```

---

## Problem 1 SparkSQL (Transaction Data Processing) [30 points]

Use the Transaction dataset T that you created in Project 1 and create a Spark workflow to do
the following. [Use SparkSQL to write this workflow.]

### 1) T1: Filter out (drop) the transactions from T whose total amount is less than $200

In [ ]:
def hello_world(name: String): Unit = {
    println(s"Hello, ${name}!")
}
hello_world("Tom")

### 2) T2: Over T1, group the transactions by the Number of Items it has, and for each group calculate the sum of total amounts, the average of total amounts, the min and the max of the total amounts.

Hello, Tom!

### 3) Report back T2 to the client side

### 4) T3: Over T1, group the transactions by customer ID, and for each group report the customer ID, and the transactions’ count.

### 5) T4: Filter out (drop) the transactions from T whose total amount is less than $600

### 6) T5: Over T4, group the transactions by customer ID, and for each group report the customer ID, and the transactions’ count.

### 7) T6: Select the customer IDs whose T5.count * 3 < T3.count

### 8) Report back T6 to the client side

---

## Problem 2 Spark-RDDs (Grid Cells of High Relative-Density Index) [70 points]

Assume a two-dimensional space that extends from 1...10,000 in each dimension as shown in Figure 1. There are points scattered all around the space. The space is divided into pre-defined grid-cells, each of size 20x20. That is, there is 500,000 grid cell in the space. Each cell has a unique ID as indicated in the Figure. Given an ID of a grid cell, you can calculate the row and the column it belongs to using a simple mathematical equation.